<div class="container">

    <div class="row">
        <div class="col-md-6">
            <img src="{{clubInfo.image}}" class="figure-img img-fluid rounded" alt="Foto del club">
        </div>

        <div class="col-md-6">
            <h2>{{clubInfo.name}}</h2>
            <p>{{clubInfo.address.street}}, {{clubInfo.address.city}}, {{clubInfo.address.zip}}</p>

            <form action="/clubs/{{clubInfo._id}}/favourite" method="POST">
                <button class="btn btn-danger" type="submit">Seguir</button>
            </form>

            <p>Pistas disponibles {{clubInfo.numberOfFields}}</p>
            <a href="{{clubInfo.web}}" class="btn btn-dark">Web</a>
            <a href="{{clubInfo.phone}}" class="btn btn-dark">Llamar</a>
            <a href="/clubs/{{clubInfo._id}}/editar" class="btn btn-dark">Editar perfil</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row align-items-center">
        {{#each followers}}
        <img src="{{avatar}}" class="followersPic" alt="user avatar">
        {{/each}}
    </div>
</div>

<div class="container2">
    <div class="row">
        {{#each matchInfo}}
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{date}}</h5>
                    <p class="card-text">{{genre}}</p>
                    <a href="/partidos/{{_id}}" class="btn btn-primary">Ir al partido</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<div class="container">
    <div class="row align-items-center">
        <figure id="clubsMap"></figure>
    </div>
</div>

<div class="container">
    <div class="row align-items-center">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Horarios</th>
                </tr>
            <tbody>
                <tr>
                    <th scope="row">Lunes - Viernes</th>
                    <td></td>
                    <td></td>
                    <td>{{clubInfo.schedule.weekdays.from}} - {{clubInfo.schedule.weekdays.to}}</td>
                </tr>
                <tr>
                    <th scope="row">Sábado - Domingo </th>
                    <td></td>
                    <td></td>
                    <td>{{clubInfo.schedule.weekends.from}} - {{clubInfo.schedule.weekends.to}}</td>
                </tr>
                <tr>
                    <th scope="row">* Festivos</th>
                    <td colspan="2"></td>
                    <td>{{clubInfo.schedule.holidays.from}} - {{clubInfo.schedule.holidays.to}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/club-map.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtf8mk6VyrR7KMMLz5WRmqhcbrtuTYDCg&callback=initMap"></script>