<div class="container match-cards">

    <h1>Partidos disponibles</h1>

    <hr>

    <div class="row match-list">
        {{#each matches}}
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{date}}</h5>
                    <p class="card-text">{{club.name}}</p>
                    {{#each players}}
                    <h1>{{name}}</h1>
                    {{/each}}
                    <p class="card-text">{{players}}</p>
                    <p class="card-text">{{genre}}</p>
                    <a href="/partidos/{{_id}}" class="btn btn-primary">Ir al partido</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>



    <hr>

    <a href="/" class="btn btn-dark">Volver al inicio</a>

    <a href="/partidos/crear" class="btn btn-dark">Crear un partido</a>

</div>