<div class="container match-cards">

    <h1>Partidos disponibles</h1>

    <hr>

    <div class="row match-list">
        {{#each matches}}
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{../day}}</h5>
                    <h5 class="card-title">{{../date}}</h5>
                    <h5 class="card-text">{{club.name}}</h5>
                    <p> <strong>Numero Jugadores: </strong>{{../numPlay}}/4</p>
                    {{#each players}}
                    <img src="{{avatar}}" class="imgavatar" alt="imagen perfil">
                    {{/each}}
                    <p class="card-text"> <strong>Genero: </strong>{{genre}}</p>
                    <p><strong>Precio: </strong>{{price}}€</p>
                    <a href="/partidos/{{_id}}" class="btn btn-primary">Ir al partido</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>



    <hr>

    <a href="/" class="btn btn-dark">Volver al inicio</a>

    <a href="/partidos/crear" class="btn btn-dark">Crear un partido</a>

</div>