<div class="container">

    {{!-- <h2>Detalles de {{title}}</h2> --}}

    <hr>

    <div class="row">
        <div class="col-md-8">
            <h3>Detalles</h3>
            <p>Fecha:{{date}}</p>
            <p>Lugar:{{club.name}}</p>
        </div>
        <div class="col-md-4">
            <h3>Jugadores</h3>
            {{#each players}}
            <p>{{name}}</p>
            {{/each}}
        </div>
    </div>
    <form action="/partidos/{{id}}/unirse" method="POST">
        <button class="btn btn-dark" type="submit">Unirse</button>
    </form>

    <hr>

    <form action="/partidos/{{id}}/delete" method="POST">
        <button class="btn btn-sm btn-warning" type="submit">Eliminar</button>
    </form>

    <a href="/partidos/{{id}}/edit" class="btn btn-dark">Editar partido</a>

    <a href="/partidos" class="btn btn-dark">Volver a la lista</a>

</div>